<!doctype html>
html(lang="en")
  include ../includes/head.pug
// WRAPPER
#wrapper
  include ../includes/navbar.pug
  // END NAVBAR
  // LEFT SIDEBAR
  include ../includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        .panel.panel-profile
          .clearfix
            // LEFT COLUMN
            form.form-auth-small(action='/profile' method="POST" enctype="multipart/form-data")
              .profile-left
                // PROFILE HEADER
                .profile-header
                  .overlay
                  .profile-main
                    .image-upload 
                      label(for='formfile')
                        img.img-circle(src=`/assets/fileimg/${user.imageUrl}` alt='Avatar' style='width:48px;height:48px;')
                      input.form-control#formfile(type='file' value='' placeholder='Email' name='formfile') 
                    h3.name #{user.nameSurname}
                // END PROFILE HEADER
                // PROFILE DETAIL
                .profile-detail
                  .profile-info
                    h4.heading Temel Bilgiler
                    ul.list-unstyled.list-justify
                      li
                        | Doğum Tarihi
                        span #{birthdate}
                      li
                        |Telefon 
                        span #{user.phone}
                      li
                        | Email 
                        span #{user.email}
                  .profile-info
                    h4.heading İletişim
                    ul.list-inline.social-icons
                      if !(user.facebook ===null)
                        li
                          a.facebook-bg(href=`${user.facebook}`  target="_blank")
                            i.fa.fa-facebook
                      if !(user.twitter ===null)
                        li
                          a.twitter-bg(href=`${user.twitter}` target="_blank") 
                            i.fa.fa-twitter
                                 
                      if !(user.instagram ===null)
                        li
                          a.google-plus-bg(href=`mailto:${user.email}` target="_blank")
                            i.fa.fa-google-plus
                      if !(user.instagram ===null)
                        li
                          a.github-bg(href=`${user.instagram}` target="_blank")
                            i.fa.fa-instagram
                // END PROFILE DETAIL
              // END LEFT COLUMN
              // RIGHT COLUMN
              .profile-right
                .awards
                  .row
                    .panel.panel-default
                        .panel-heading Bilgiler
                        table.table.table-borderless.table-hover
                          tbody
                            tr
                              td
                                span Personel No
                              td
                                span #{user.personnelId}
                              td
                                span Fakülte
                              td
                                span #{faculty.name}
                            tr
                              td
                                span Adı Soyadı
                              td
                                span #{user.nameSurname}
                              td
                                span Bölüm
                              td
                                span #{department.name}
                            tr
                              td
                                span Kayıt Tarihi
                              td
                                span #{date}
                              td
                                span 
                              td
                                span 
                    .panel.panel-default
                      .panel-heading İletişim Bilgileri
                      table.table.table-borderless.table-hover
                        tbody
                          tr
                            td
                              span Adres
                            td
                              span
                                input#adress.form-control(type='text' value=`${user.adress}` name='adress')
                            td
                              span İl
                            td
                              input#city.form-control.float-left(type='text' value=`${user.city}` name='city')
                          tr
                            td
                              span Telefon
                            td
                              span
                                input#phone.form-control.float-left(type='text' value=`${user.phone}` name='phone')
                            td
                              span İlçe
                            td
                              span
                                input#district.form-control.float-left(type='text' value=`${user.district}` name='district')
                          tr
                            td
                              span 1.Email
                            td
                              span
                                input.form-control.float-left(type='text' value=`${user.email}` disabled)
                            td
                              span 2.Email
                            td
                              span
                                input#secondmail.form-control.float-left(type='text' value=`${user.secondemail}` name='secondmail')
                    .panel.panel-default
                      .panel-heading
                        | Kisisel Bilgiler
                      table.table.table-borderless.table-hover
                        tbody
                          tr
                            td
                              span Dogum Tarihi
                            td
                              span
                                input#birthdate.form-control(type='date' value=`${birthdate}` name='birthdate')
                            td
                              span Facebook
                            td
                              input#facebook.form-control.float-left(type='text' value=`${user.facebook}` name='facebook')
                          tr
                            td
                              span Twitter
                            td
                              span
                                input#twitter.form-control.float-left(type='text' value=`${user.twitter}` name='twitter')
                            td
                              span Instagram
                            td
                              span
                                input#instagram.form-control.float-left(type='text' value=`${user.instagram}` name='instagram')
                  .text-center
                  button.btn.btn-primary.mt-0(type='submit' style='float:right;') Kaydet 
              // END RIGHT COLUMN
      // END MAIN CONTENT
    // END MAIN
    .clearfix
  footer
    .container-fluid
      p.copyright

// END WRAPPER
// Javascript
