mixin createFlow(flow,item,i,users)
    tr
        td #{i}
        -var status;
        each user in users 
            if flow.userId === user.id
                td   #{user.nameSurname}
                td    #{flow.ownerId}
                td #{flow.createdAt}

                each taskItem in item
                    if taskItem.flowId === flow.id 
                        if taskItem.confirmation == false 
                            - status = -1;
                            td 
                                textarea.col-sm-12(placeholder='Açıklama' rows='1' style='text-align: center; color:#FF0000; font-weight:bold;resize:none;' disabled) REDDEDİLDİ
                            -break
                        else if taskItem.confirmation == null 
                            - status = 0 ;            
                        else 
                            if !(status === 0)
                                -status =1;
                if(status === 0)
                    td 
                        textarea.col-sm-12(placeholder='Açıklama' rows='1' style='text-align: center; color:#0000FF; font-weight:bold;resize:none;' disabled) ONAY BEKLİYOR
                if(status === 1)
                    td 
                        textarea.col-sm-12.greeniconcolor(placeholder='Açıklama' rows='1' style='text-align: center; font-weight:bold;resize:none;' disabled) ONAYLANDI
        td.text-center    
            a(href=`/flow-detail/${flow.id}`)                       
                i.fa.fa-file(style='font-size:24px;')    
        if (status === -1)
            td.text-center                      
                i.delete.fa.fa-circle.rediconcolor     
        if (status === 0)
            td.text-center                      
                i.delete.fa.fa-circle.blueiconcolor   
        if (status === 1)
            td.text-center                      
                i.delete.fa.fa-circle.greeniconcolor   
            